# Supabase
VITE_SUPABASE_URL=https://soyuzbszsboltthjlxze.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNveXV6YnN6c2JvbHR0aGpseHplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NDIxMDMsImV4cCI6MjA4ODAxODEwM30.-anUzQTfDGJa2aJrVX-LEgcKr7yHTCudf6asJsWUwqc

# PayPal
VITE_PAYPAL_CLIENT_ID=your_paypal_client_id

# Cloudflare R2 (public read URL)
VITE_R2_PUBLIC_URL=your_r2_public_bucket_url

# App
VITE_APP_URL=http://localhost:5173


# Cloudflare R2 S3 Api
S3_API_KEY=https://582eb355d10f4b51df7e35e83a56c267.r2.cloudflarestorage.com/photoproject